*~
.*~
src/*~
*.pdf
obj
*.eps
wfData_csv/
wf_for_sim/
wf_for_sim_long.zip
wf_for_sim_short.zip
test.txt
runterzina_wfSim
fit_LEE
_gr_wf.C
generate_waveform_template_old.C
gr_fft_abs.C
grerr.C
h1_tmp.C
gr_wf_0000.csv
gr_wf_0001.csv
gr_wf_0002.csv
gr_wf_0003.csv
gr_wf_0004.csv
gr_wf_0005.csv
gr_wf_0006.csv
gr_wf_0007.csv
gr_wf_0008.csv
gr_wf_0009.csv
linearExpExp_NUVHD_25um_conv_fit_100MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_120MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_140MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_60MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_80MHz_filter.conf
linearExpExp_tau_120ns.conf
linearExpExp_tau_120ns_fit_40MHz_filter.conf
linearExpExp_tau_150ns.conf
linearExpExp_tau_150ns_fit_40MHz_filter.conf
linearExpExp_tau_180ns.conf
linearExpExp_tau_180ns_fit_40MHz_filter.conf
linearExpExp_tau_210ns.conf
linearExpExp_tau_210ns_fit_40MHz_filter.conf
linearExpExp_tau_230ns.conf
linearExpExp_tau_230ns_fit_40MHz_filter.conf
linearExpExp_tau_260ns.conf
linearExpExp_tau_260ns_fit_40MHz_filter.conf
linearExpExp_tau_30ns.conf
linearExpExp_tau_30ns_fit_40MHz_filter.conf
linearExpExp_tau_7ns.conf
linearExpExp_tau_90ns.conf
linearExpExp_tau_90ns_fit_40MHz_filter.conf
screenlog.0
trkInfo_0022360_120ns_fit_40MHz_filter.dat
trkInfo_0022360_150ns_fit_40MHz_filter.dat
trkInfo_0022360_180ns_fit_40MHz_filter.dat
trkInfo_0022360_210ns_fit_40MHz_filter.dat
trkInfo_0022360_230ns_fit_40MHz_filter.dat
trkInfo_0022360_25um_conv_fit_20MHz_filter.dat
trkInfo_0022360_25um_conv_fit_40MHz_filter.dat
trkInfo_0022360_25um_conv_fit_fullMHz_filter.dat
trkInfo_0022360_260ns_fit_40MHz_filter.dat
trkInfo_0022360_30ns.dat
trkInfo_0022360_30ns_fit_40MHz_filter.dat
trkInfo_0022360_35um_conv_fit_20MHz_filter.dat
trkInfo_0022360_35um_conv_fit_40MHz_filter.dat
trkInfo_0022360_35um_conv_fit_fullMHz_filter.dat
trkInfo_0022360_7ns.dat
trkInfo_0022360_90ns_fit_40MHz_filter.dat
wfSim_Terzina_120ns_fit_40MHz_filter.conf
wfSim_Terzina_150ns_fit_40MHz_filter.conf
wfSim_Terzina_180ns_fit_40MHz_filter.conf
wfSim_Terzina_210ns_fit_40MHz_filter.conf
wfSim_Terzina_230ns_fit_40MHz_filter.conf
wfSim_Terzina_25um_conv_fit_120MHz_filter.conf
wfSim_Terzina_25um_conv_fit_200MHz_filter.conf
wfSim_Terzina_25um_conv_fit_20MHz_filter.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter.conf
wfSim_Terzina_25um_conv_fit_500MHz_filter.conf
wfSim_Terzina_25um_conv_fit_60MHz_filter.conf
wfSim_Terzina_25um_conv_fit_80MHz_filter.conf
wfSim_Terzina_25um_conv_fit_fullMHz_filter.conf
wfSim_Terzina_260ns_fit_40MHz_filter.conf
wfSim_Terzina_30ns.conf
wfSim_Terzina_30ns_fit_40MHz_filter.conf
wfSim_Terzina_35um_conv_fit_20MHz_filter.conf
wfSim_Terzina_35um_conv_fit_40MHz_filter.conf
wfSim_Terzina_35um_conv_fit_fullMHz_filter.conf
wfSim_Terzina_7ns.conf
wfSim_Terzina_90ns_fit_40MHz_filter.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter_10MHz_signal.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter_20MHz_signal.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter_30MHz_signal.conf
wfData/linearExpExp_NUVHD_25um_conv.txt
wfData/linearExpExp_NUVHD_25um_conv_fit.txt
wfData/linearExpExp_NUVHD_25um_conv_fit_20MHz_filter.txt
wfData/linearExpExp_NUVHD_35um_conv.txt
wfData/linearExpExp_NUVHD_35um_conv_fit.txt
wfData/linearExpExp_NUVHD_35um_conv_fit_20MHz_filter.txt
wfData/linearExpExp_NUVHD_35um_conv_fit_40MHz_filter.txt
wfData/linearExpExp_tau_120ns.txt
wfData/linearExpExp_tau_120ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_150ns.txt
wfData/linearExpExp_tau_150ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_180ns.txt
wfData/linearExpExp_tau_180ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_210ns.txt
wfData/linearExpExp_tau_210ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_230ns.txt
wfData/linearExpExp_tau_230ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_260ns.txt
wfData/linearExpExp_tau_260ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_30ns.txt
wfData/linearExpExp_tau_30ns_fit_40MHz_filter.txt
wfData/linearExpExp_tau_7ns.txt
wfData/linearExpExp_tau_90ns.txt
wfData/linearExpExp_tau_90ns_fit_40MHz_filter.txt
wfData/nuv_6x6_75nc.out
wfData/waveform_template.csv
wfData/waveform_template_fast.csv
wfData/waveform_template_fast_25um_gge.csv
wfData/waveform_template_fast_25um_gge_conv.csv
fData/waveform_template_fast_25um_lee.csv
wfData/waveform_template_fast_25um_lee.csv.cos_sin.csv
wfData/waveform_template_fast_25um_lee.txt
wfData/waveform_template_fast_25um_lee_conv.csv
wfData/waveform_template_fast_25um_lee_conv.csv.cos_sin.csv
wfData/waveform_template_fast_25um_lee_conv_cut_off_frequency_20MHz.csv
wfData/waveform_template_fast_25um_lee_conv_cut_off_frequency_20MHz.txt
wfData/waveform_template_fast_25um_lee_conv_cut_off_frequency_40MHz.csv
wfData/waveform_template_fast_35um_gge.csv
wfData/waveform_template_fast_35um_gge_conv.csv
fData/waveform_template_fast_35um_lee.csv
wfData/waveform_template_fast_35um_lee.csv.cos_sin.csv
wfData/waveform_template_fast_35um_lee_conv.csv
wfData/waveform_template_fast_35um_lee_conv_cut_off_frequency_20MHz.csv
wfData/waveform_template_fast_35um_lee_conv_cut_off_frequency_40MHz.csv
wfData/waveform_template_fast_gge.csv
wfData/waveform_template_fast_gge_conv.csv
wfData/waveform_template_fast_lee.csv
wfData/waveform_template_fast_lee_conv.csv
wfData/waveform_template_gaus_long.csv
wfData/waveform_template_gaus_short.csv
wfData/waveform_template_fast_25um_lee.csv
wfData/waveform_template_fast_35um_lee.csv
fft.root
testGenerateDistFromHist.root
wfData/waveform_template.root
wfData/waveform_template_fast.root
wfData/waveform_template_fast_25um.root
wfData/waveform_template_fast_35um.root
wfSim.root
wfSim_120ns_fit_40MHz_filter.root
wfSim_150ns_fit_40MHz_filter.root
wfSim_180ns_fit_40MHz_filter.root
wfSim_210ns_fit_40MHz_filter.root
wfSim_230ns_fit_40MHz_filter.root
wfSim_25um_conv_fit_20MHz_filter.root
wfSim_25um_conv_fit_40MHz_filter.root
wfSim_25um_conv_fit_fullMHz_filter.root
wfSim_260ns_fit_40MHz_filter.root
wfSim_30ns.root
wfSim_30ns_fit_40MHz_filter.root
wfSim_35um_conv_fit_20MHz_filter.root
wfSim_35um_conv_fit_40MHz_filter.root
wfSim_35um_conv_fit_fullMHz_filter.root
wfSim_7ns.root
wfSim_90ns_fit_40MHz_filter.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_10MHz.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_10MHz_signal.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_20MHz.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_20MHz_signal.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_30MHz.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_30MHz_signal.root
wfSim_Terzina_25um_conv_fit_40MHz_filter_signal.root
wfSim_Terzina_25um_conv_fit_fullMHz_filter.root
wfData_root/fit_LEE_25um_lee_conv_cut_off_frequency_20MHz.root
wfData_root/fit_LEE_25um_lee_conv_cut_off_frequency_40MHz.root
wfData_root/wfSim.root
wfData_root/fit_LEE_fast_25um_lee.root
wfData_root/EASCherSim_0022360.ini.npz_30ns.root
wfData_root/EASCherSim_0022360.ini.npz_7ns.root
wfData_root/EASCherSim_0022360.ini.npz_25um_conv_fit_20MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_25um_conv_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_35um_conv_fit_20MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_35um_conv_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_25um_conv_fit_fullMHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_35um_conv_fit_fullMHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_30ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_90ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_120ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_150ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_180ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_210ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_230ns_fit_40MHz_filter.root
wfData_root/EASCherSim_0022360.ini.npz_260ns_fit_40MHz_filter.root
install.00.00.01
wfSim_simtelarray_sipm_Rate_268MHz.root
wfSim_simtelarray_sipm_Rate_268MHz_el_noise.root
wfSim_simtelarray_sipm_Rate_386MHz.root
wfSim_simtelarray_sipm_Rate_386MHz_el_noise.root
