*~
.*~
src/*~
*.pdf
obj
*.root
*.eps
wfData/
wfData_csv/
wf_for_sim/
wf_for_sim_long.zip
wf_for_sim_short.zip
test.txt
runterzina_wfSim
fit_LEE
_gr_wf.C
generate_waveform_template_old.C
gr_fft_abs.C
grerr.C
h1_tmp.C
gr_wf_0000.csv
gr_wf_0001.csv
gr_wf_0002.csv
gr_wf_0003.csv
gr_wf_0004.csv
gr_wf_0005.csv
gr_wf_0006.csv
gr_wf_0007.csv
gr_wf_0008.csv
gr_wf_0009.csv
linearExpExp_NUVHD_25um_conv_fit_100MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_120MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_140MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_60MHz_filter.conf
linearExpExp_NUVHD_25um_conv_fit_80MHz_filter.conf
linearExpExp_tau_120ns.conf
linearExpExp_tau_120ns_fit_40MHz_filter.conf
linearExpExp_tau_150ns.conf
linearExpExp_tau_150ns_fit_40MHz_filter.conf
linearExpExp_tau_180ns.conf
linearExpExp_tau_180ns_fit_40MHz_filter.conf
linearExpExp_tau_210ns.conf
linearExpExp_tau_210ns_fit_40MHz_filter.conf
linearExpExp_tau_230ns.conf
linearExpExp_tau_230ns_fit_40MHz_filter.conf
linearExpExp_tau_260ns.conf
linearExpExp_tau_260ns_fit_40MHz_filter.conf
linearExpExp_tau_30ns.conf
linearExpExp_tau_30ns_fit_40MHz_filter.conf
linearExpExp_tau_7ns.conf
linearExpExp_tau_90ns.conf
linearExpExp_tau_90ns_fit_40MHz_filter.conf
screenlog.0
trkInfo_0022360_120ns_fit_40MHz_filter.dat
trkInfo_0022360_150ns_fit_40MHz_filter.dat
trkInfo_0022360_180ns_fit_40MHz_filter.dat
trkInfo_0022360_210ns_fit_40MHz_filter.dat
trkInfo_0022360_230ns_fit_40MHz_filter.dat
trkInfo_0022360_25um_conv_fit_20MHz_filter.dat
trkInfo_0022360_25um_conv_fit_40MHz_filter.dat
trkInfo_0022360_25um_conv_fit_fullMHz_filter.dat
trkInfo_0022360_260ns_fit_40MHz_filter.dat
trkInfo_0022360_30ns.dat
trkInfo_0022360_30ns_fit_40MHz_filter.dat
trkInfo_0022360_35um_conv_fit_20MHz_filter.dat
trkInfo_0022360_35um_conv_fit_40MHz_filter.dat
trkInfo_0022360_35um_conv_fit_fullMHz_filter.dat
trkInfo_0022360_7ns.dat
trkInfo_0022360_90ns_fit_40MHz_filter.dat
wfSim_Terzina_120ns_fit_40MHz_filter.conf
wfSim_Terzina_150ns_fit_40MHz_filter.conf
wfSim_Terzina_180ns_fit_40MHz_filter.conf
wfSim_Terzina_210ns_fit_40MHz_filter.conf
wfSim_Terzina_230ns_fit_40MHz_filter.conf
wfSim_Terzina_25um_conv_fit_120MHz_filter.conf
wfSim_Terzina_25um_conv_fit_200MHz_filter.conf
wfSim_Terzina_25um_conv_fit_20MHz_filter.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter.conf
wfSim_Terzina_25um_conv_fit_500MHz_filter.conf
wfSim_Terzina_25um_conv_fit_60MHz_filter.conf
wfSim_Terzina_25um_conv_fit_80MHz_filter.conf
wfSim_Terzina_25um_conv_fit_fullMHz_filter.conf
wfSim_Terzina_260ns_fit_40MHz_filter.conf
wfSim_Terzina_30ns.conf
wfSim_Terzina_30ns_fit_40MHz_filter.conf
wfSim_Terzina_35um_conv_fit_20MHz_filter.conf
wfSim_Terzina_35um_conv_fit_40MHz_filter.conf
wfSim_Terzina_35um_conv_fit_fullMHz_filter.conf
wfSim_Terzina_7ns.conf
wfSim_Terzina_90ns_fit_40MHz_filter.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter_10MHz_signal.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter_20MHz_signal.conf
wfSim_Terzina_25um_conv_fit_40MHz_filter_30MHz_signal.conf
